# Ambientes virtuais
venv/
.venv/
env/
ENV/

# Variáveis de ambiente
.env
.envrc

# Banco local
db.sqlite3
db.sqlite3-journal

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*$py.class

# Django
*.log
local_settings.py
media/

# VS Code
.vscode/

# Windows
Thumbs.db